@import url('https://fonts.googleapis.com/css?family=Rubik:wght@0,400;0,500;0,600;0,700&display=swap');

/* reset css */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of reset css */

*, html, body {
  font-family: 'Rubik', sans-serif;
  font-size: clamp(0.875rem, 0.875rem + 0.1042vw, 1rem)
}

:root {

  --primary: #053363;

  /* clamp(12.5rem, 12.5rem + 26.0417vw, 43.75rem); */
  --default-width: clamp(15.625rem, 15.625rem + 43.75vw, 68.125rem);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #242424;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  scroll-behavior: smooth;
}

::selection {
  background-color: var(--primary);
  color: white;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}
a:hover {
  color: #535bf2;
}

#app {
  margin: 0 auto;
  text-align: center;
  padding: clamp(0.2rem, 0.2rem + 1.5vw, 2rem);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body .content {
  margin: 0;
  place-items: center;
  min-width: 320px;
  max-width: 100%;
  width: 100%;
  /* background-color: #c9c9c9; */
}

h1 {
  font-size: clamp(1.5rem, 1.5rem + 1.25vw, 3rem);
  margin-bottom: clamp(0.4rem, 0.4rem + 0.5vw, 1rem);
}

h2 {
  font-size: clamp(1.25rem, 1.25rem + 0.2083vw, 1.5rem);
  margin-bottom: clamp(0.4rem, 0.4rem + 0.5vw, 1rem);
}

svg {
  padding: clamp(0.3125rem, 0.3125rem + 0.2604vw, 0.625rem);
}

.card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: clamp(0.3rem, 0.3rem + 0.5833vw, 1rem);
  max-width: var(--default-width);
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  border-bottom: .5px solid lightgray;
  background-color: #e4e4e4;
  color: rgb(90, 94, 99);
}
